{%- set services = [
    {
        "base_port": 1000,
        "out_port": 9000,
        "ip_suffix": 11,
    },
    {
        "base_port": 2000,
        "out_port": 1337,
        "ip_suffix": 12,
    },
] %}

{%- for team_id in range(101, 101+10) %}

{%- for service in services %}

{%- set in_port = service.base_port + team_id %}
{%- set out_port = service.out_port %}

server {
    listen {{ in_port }};

    access_log /var/log/nginx/proxy_{{in_port}}_access.log;
    error_log /var/log/nginx/proxy_{{in_port}}_error.log;

    location / {
        proxy_pass http://10.118.{{ team_id }}.{{ service.ip_suffix }}:{{ out_port }};
        proxy_set_header Host $http_host;
        proxy_read_timeout 10;
    }

    client_max_body_size 2m;
}
{%- endfor %}

{%- endfor %}
